.step {
    max-width: 600px;
    max-height: 90vh;
    padding: 20px;
    border: 3px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.step-link {
    text-decoration: underline;
    cursor: pointer;
}

/*Wikipedia stuff*/

.infobox {
    display: none;
}

.hatnote {
    display: none;
}

.vertical-navbox {
    display: none;
}

.metadata {
    display: none;
}
