:root {
	--nav-height: 150px;
	--nav-width: 60px;
}

.trail-navigation {
	position: fixed;
	height: var(--nav-height);
	width: var(--nav-width);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: white;
	top: calc(50vh - var(--nav-height) / 2);
	cursor: pointer;
}

.arrow-icon {
	margin-top: calc(var(--nav-height) / 2 - var(--nav-width) / 2);
	width: var(--nav-width);
}

.right {
	right: 0;
	border-left: 3px solid black;
}

.left {
	left: 0;
	border-right: 3px solid black;
}

.hidden {
	display: none;
}
